@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$font-family: 'Lato', sans-serif;

// colors

$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$success-color: #5cb85c;
$error-color: #d9534f;

// Reset

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	font-size: 1.2rem;
	font-family: $font-family;
	color: #333;
	line-height: 1.6;
	/* 	background-image: linear-gradient($gradientViolet, $gradientBlue);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $very-dark-grayish-blue; */
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

h1,
h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

$breakpoints-up: (
	'md': '750px',
	'ld': '1024px',
	'xd': '1376px',
);

$breakpoints-down: (
	'md': '750px',
	'ld': '1024px',
	'xd': '1376px',
);

@mixin breakpoint-up($size) {
	@media screen and (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}
@mixin breakpoint-down($size) {
	@media screen and (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

// 640px, 1024px, 1400px
$breakpoints-up: (
	/* 	"medium": "40em",
	"large": "64em",
	"xlarge": "87.5em", */ 'medium': '640px',
	'large': '1024px',
	'xlarge': '1400px'
);

// 639px, 1023px, 1399px
$breakpoints-down: (
	/* 	"small": "39.9375em",
	"medium": "63.9375em",
	"large": "87.4375em", */
		'small': '639px',
	'medium': '1023px',
	'large': '1399px'
);

@mixin breakpoint-up($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

// Visibility
.hide-for-mobile {
	@include breakpoint-down(small) {
		display: none;
	}
}

.hide-for-desktop {
	@include breakpoint-up(medium) {
		display: none;
	}
}

/* Utilities */
.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
}

.card {
	background-color: #fff;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background-color: $primary-color;
	color: #fff;
	border: none;
	border-radius: 5px;

	&-outline {
		background-color: transparent;
		border: 1px solid #fff;
	}

	&:hover {
		transform: scale(0.98);
	}
}

/* Backgounds & colored buttons */
.bg-primary,
.btn-primary {
	background-color: $primary-color;
	color: #fff;
}

.bg-secondary,
.btn-secondary {
	background-color: $secondary-color;
	color: #fff;
}

.bg-dark,
.btn-dark {
	background-color: $dark-color;
	color: #fff;
}

.bg-light,
.btn-light {
	background-color: $light-color;
	color: #333;
}

.bg-primary,
.btn-primary,
.bg-secondary,
.btn-secondary,
.bg-dark,
.btn-dark {
	a {
		color: #fff;
	}
}

/* Text colors */
.text-primary {
	color: $primary-color;
}

.text-secondary {
	color: $secondary-color;
}

.text-dark {
	color: $dark-color;
}

.text-light {
	color: $light-color;
}

/* Text sizes */
.lead {
	font-size: 20px;
}

.sm {
	font-size: 1rem;
}

.lead {
	font-size: 2rem;
}

.lg {
	font-size: 3rem;
}

.xl {
	font-size: 4rem;
}

.text-center {
	text-align: center;
}

/* Alert */
.alert {
	background-color: $light-color;
	padding: 10px 20px;
	font-weight: bold;
	margin: 15px 0;

	i {
		margin-right: 10px;
	}

	&-success {
		background-color: $success-color;
		color: #fff;
	}
	&-error {
		background-color: $error-color;
		color: #fff;
	}
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;

	&-3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Margin */
.my {
	&-1 {
		margin: 1rem 0;
	}
	&-2 {
		margin: 1.5rem 0;
	}
	&-3 {
		margin: 2rem 0;
	}
	&-4 {
		margin: 3rem 0;
	}
	&-5 {
		margin: 4rem 0;
	}
}

.m {
	&-1 {
		margin: 1rem;
	}
	&-2 {
		margin: 1.5rem;
	}
	&-3 {
		margin: 2rem;
	}
	&-4 {
		margin: 3rem;
	}
	&-5 {
		margin: 4rem;
	}
}

/* Padding */
.py {
	&-1 {
		padding: 1rem 0;
	}
	&-2 {
		padding: 1.5rem 0;
	}
	&-3 {
		padding: 2rem 0;
	}
	&-4 {
		padding: 3rem 0;
	}
	&-5 {
		padding: 4rem 0;
	}
}

.p {
	&-1 {
		padding: 1rem;
	}
	&-2 {
		padding: 1.5rem;
	}
	&-3 {
		padding: 2rem;
	}
	&-4 {
		padding: 3rem;
	}
	&-5 {
		padding: 4rem;
	}
}
